{{!-- {{yield}} --}}
<article class="listing">
  <div class="details">
    <div>
      <span>{{this.fund.fields.title}}</span>
      {{#if (not this.fund.fields.selected)}}
        <a onclick={{action "add" this.fund}} role="button">Add to Cart</a>        
      {{/if}}
    </div>
  </div>
</article>
