{{!-- {{yield}} --}}
<article class="listing">
  <div class="details">
    <div>{{this.fund.fields.title}}  <a onclick={{action "add" this.fund}} role="button">Add to Cart</a></div>
  </div>
</article>
