<ListFilter
  @placeholder="Filter By Fund Title"
  @filter={{action "filterByTitle"}}
  as |filteredResults|
>
  <ul class="results">
    {{#each filteredResults as |fundItem|}}
      <li>
        <FundListing @fund={{fundItem}} />
      </li>
    {{/each}}
  </ul>
</ListFilter>
{{outlet}}